body{

    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .dev-desc{
    font-size: medium;
    margin-top: 0px;
  }
  
  .dev-name{
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .tester-desc{
    font-size: medium;
    margin-top: 0px;
  }
  
  .tester-name{
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .title{
    font-size: xx-large;
    font-weight: bold;
  }
  
  .sub-title{
    font-size: x-large;
    font-weight: bold;
  }

  .section{
    padding: 1pc 3pc;
    width: 70%;
    margin: 3pc auto auto auto;
    background-color: bisque;
    border: 4px solid sandybrown;
  }
  
  .paragraph{
    font-size: large;
  }